html {
  height: 100%;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.iOSfix {
  height: 100%;
}

body {
  position: relative;
}

h1 {
  font-weight: 300;
  letter-spacing: 1px;
}

h1.section-heading {
  margin-bottom: 30px;
  letter-spacing: 5px;
}

#about {
  height: 93vh;
  max-height: 900px;
  min-height: 300px;
  background: url("images/bk.jpg")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: scroll;
}

.navbar-brand {
  padding-left: 1rem;
  color:#e15447;
  font-weight: bold;
}

nav {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 0 0 12px 12px;
}

.navbar-nav {
  padding-bottom: 0.3rem;
}

.nav-item {
  margin-left: 1rem;
  margin-right: 1rem;
}

.navbar-toggleable-md .navbar-nav .nav-link {
  padding-left: 0.1rem;
  padding-right: 0.1rem;
  line-height: 0.9rem;
}

.stickynav {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  margin: 0 1em;
  z-index: 1000;
  opacity: 0.3;
  transition: all 0.7s ease-in-out;
}

.stickynav:hover {
  opacity: 1;
}

#navbar-logo {
  flex: 1 1 25%;
}

#navbarNavAltMarkup {
  flex: 4 1 50%;
  text-align: center;
}

#navbar-social-nav .fa {
  font-size: 1.5rem;
  flex: 1 1 25%;
  color: #bbb;
}

#navbar-social-nav .fa:hover {
  font-size: 1.5rem;
  flex: 0 5 20%;
  color: #fff;
}

.jumbotron {
  height: 85vh;
  max-height: 900px;
  min-height: 370px;
  display: flex;
  align-items: center;
  background: transparent;
  color: #ddd;
  margin: 0;
  padding: 5% 0 0 0;
  overflow: hidden;
}

.jumbotron .fa {
  font-size: 3rem;
}

#hello-icons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: baseline;
  margin-top: 15%;
}

#hello-icons p {
  margin-top: 1em;
}

#hello {
  width: 60%;
  height: auto;
  margin-bottom: 2em;
}

.display-4 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color:#e15447;
}

span.nobr {
  white-space: nowrap;
}

#color-stripe {
  width: 100%;
  height: 7vh;
  min-height: 40px;
  background-color: #e15447;
  margin: 0;
  color: #fff;
  position: relative;
  z-index: 10;
}

.red-bg {
  background-color: #e15447;
}

.red-fg {
  color: #e15447;
}

#portfolio {
  color: #fff;
  padding-top: 3rem;
  padding-bottom: 3rem;
  background: #777;
}

.thin {
  font-weight: 300;
}

.h5,
h5 {
  font-size: 1.1rem;
}

#portfolio row > div {
  padding: 0 1.5em;
}

.port-box {
  margin: 1.5em 0;
}

.port-box img {
  box-shadow: 3px 2px 5px #333;
  cursor: pointer;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

.port-box img:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

#portfolio-modals .modal {
  background: rgba(0, 0, 0, 0.5);
  color: #eee;
}

#portfolio-modals .modal .modal-dialog {
  max-width: 100% !important;
}

#portfolio-modals .modal .modal-content {
  background: rgba(125, 125, 125, 0.4);
}

#portfolio-modals .modal .modal-header {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  background: rgba(0, 0, 0, 0.6);
}

#portfolio-modals .modal .modal-body {
  text-align: center;
}

.modal-headings {
}

.modal-description {
  font-size: 0.85rem;
}

.modal-img {
  margin: 20px 0;
}

body.modal-open #blur-wrap {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.margin-bottom {
  margin-bottom: 40px;
}

#contact {
  color: #444;
  padding-top: 3rem;
  padding-bottom: 5rem;
  background: #eee;
}

#contact-send-btn {
  margin-top: 20px;
}

footer {
  width: 100%;
  height: 150px;
  background-color:#2b3840;
  margin: 0;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  padding-top: 20px;
}

footer p {
  font-size: 0.7em;
}

footer .social-icons {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: center;
  font-size: 1.6em;
}

footer .nav-link {
  padding: 0;
}

footer a.nav-link {
  color: #eee;
}

footer a.nav-link:hover {
  color: #fff;
}

#coded {
}



/* Media queries */

@media screen and (min-width: 768px) {
  .nav-item.active {
    border-bottom: 4px solid #e15447;
    border-radius: 2px;
  }

  nav {
    background-color: rgba(0, 0, 0, 0.3);
  }

  #hello {
    width: 45%;
    margin-bottom: 2.5em;
  }

  .display-4 {
    font-size: 3.5rem;
  }

  .lead {
    font-size: 1.5em;
  }

  #hello-icons {
    margin-top: 8%;
    margin-left: 3em;
    margin-right: 3em;
  }

  #hello-icons p {
    margin-top: 1.3rem;
    font-size: 1.3rem;
  }

  .jumbotron .fa {
    font-size: 5rem;
  }

  .h5,
  h5 {
    font-size: 1.25rem;
  }

  footer p {
    font-size: 1em;
  }

  .modal-description {
    font-size: 1rem;
  }

  form .form-group {
    margin-top: 2em;
    margin-bottom: 2em;
  }

  #copyright {
    font-size: 80%;
  }
}

@media screen and (min-width: 992px) {
  #navbar-social-nav {
    max-width: 25%;
  }

  #hello {
    width: 36%;
    margin-bottom: 3em;
  }

  .display-4 {
    font-size: 4.5rem;
    margin-bottom: 0.3em;
  }

  .lead {
    font-size: 1.75em;
  }

  h1 {
    font-size: 3.5rem;
  }
}

@media screen and (min-width: 1200px) and (max-height: 720px) {
  .jumbotron {
    padding-top: 7%;
  }

  .jumbotron .fa {
    font-size: 4.2rem;
  }

  #hello {
    margin-bottom: 2em;
  }

  #hello-icons {
    margin-top: 6vh;
  }

  .display-4 {
    font-size: 3.2rem;
  }
}

@media screen and (max-height: 500px) and (min-width: 500px) {
  #about {
    height: 500px;
  }

  #hello {
    margin-top: 3.5em;
    margin-bottom: 1.5em;
  }
}
footer {
  background: rgb(55,55,55);
  margin-top: auto;
  width: 100%
}
.footer-list-top {
  width: 33.333%
}
.footer-list-top > li {
  text-align: center;
  padding-bottom: 10px
}
.footer-list-header {
  padding: 10px 0 5px 0;
  color: #fff;
  font: 2.3vw "Oswald", sans-serif
}
.footer-list-anchor {
  font: 1.3em "Open Sans", sans-serif
}
.footer-social-section {
  width: 100%;
  align-items: center;
  justify-content: space-around;
  position: relative;
  margin-top: 5px;
}
.footer-social-section::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 10px;
  border-top: 1px solid $primary-line-color;
  width: calc(100% - 20px);
}
.footer-social-overlap {
  position: relative;
  z-index: 2;
  background: rgb(55,55,55);
  padding: 0 20px
}
.footer-social-connect {
  display: flex;
  align-items: center;
  font: 3.5em "Oswald", sans-serif;
  color: #fff
}
.footer-social-small {
  font-size: 0.6em;
  padding: 0px 20px
}
.footer-social-overlap > a {
  font-size: 3em
}
.footer-social-overlap > a:not(:first-child) {
  margin-left: 0.38em
}
.footer-bottom-section {
  width: 100%;
  padding: 10px;
  border-top: 1px solid $primary-line-color;
  margin-top: 10px
}
.footer-bottom-section > div:first-child {
  margin-right: auto
}
.footer-bottom-wrapper {
  font-size: 1.5em;
  color: #fff
}
.footer-address {
  display: inline;
  font-style: normal
}
.flex-rw {
  display: flex;
  flex-flow: row wrap;
}
@font-face {
  font-family: Clip;
  src: url("https://acupoftee.github.io/fonts/Clip.ttf");
} 

@import url(https://fonts.googleapis.com/css?family=Oswald:400,700,300);
#box {
  width: 600px;
  height: 350px;
  margin-top: 1cm;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.8em;
  background-color: #1c1c1c;
  background-image: -webkit-gradient(
    linear,
    right bottom,
    left top,
    color-stop(0.33, #1c1c1c),
    color-stop(0.7, #272727)
  );
  background-image: -webkit-linear-gradient(
    right bottom,
    #1c1c1c 33%,
    #272727 70%
  );
  background-image: -moz-linear-gradient(
    right bottom,
    #1c1c1c 33%,
    #272727 70%
  );
  background-image: -o-linear-gradient(right bottom, #1c1c1c 33%, #272727 70%);
  background-image: linear-gradient(right bottom, #1c1c1c 33%, #272727 70%);
  box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.2);
}
#info {
  position: relative;
  font-family: "Oswald", sans-serif;
  font-size: 100%;
  list-style: none;
  text-transform: uppercase;
  color: #666;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
#info li {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 15px;
}
.html5 {
  font-weight: 700;
  letter-spacing: -0.05em;
  -webkit-transform: scale(7.5, 7.8) translate(1.06em, 0.68em);
  -moz-transform: scale(7.5, 7.8) translate(1.06em, 0.68em);
  -ms-transform: scale(7.5, 7.8) translate(1.06em, 0.68em);
  -o-transform: scale(7.5, 7.8) translate(1.06em, 0.68em);
  transform: scale(7.5, 7.8) translate(1.06em, 0.68em);
}
.css3 {
  letter-spacing: 0.01em;
  font-weight: 700;
  -webkit-transform: scale(6.8, 6.75) rotate(90deg) translate(1.32em, -4.54em);
  -moz-transform: scale(6.8, 6.75) rotate(90deg) translate(1.32em, -4.54em);
  -ms-transform: scale(6.8, 6.75) rotate(90deg) translate(1.32em, -4.54em);
  -o-transform: scale(6.8, 6.75) rotate(90deg) translate(1.32em, -4.54em);
  transform: scale(6.8, 6.75) rotate(90deg) translate(1.32em, -4.54em);
}
.javascript {
  letter-spacing: -0.04em;
  font-weight: 400;
  -webkit-transform: scale(1.4) rotate(90deg) translate(3.88em, -12.7em);
  -moz-transform: scale(1.4) rotate(90deg) translate(3.88em, -12.7em);
  -ms-transform: scale(1.4) rotate(90deg) translate(3.88em, -12.7em);
  -o-transform: scale(1.4) rotate(90deg) translate(3.88em, -12.7em);
  transform: scale(1.4) rotate(90deg) translate(3.88em, -12.7em);
}
.jquery {
  letter-spacing: 0.045em;
  font-weight: 700;
  -webkit-transform: scale(3.88, 3.8) translate(5.42em, 3.72em);
  -moz-transform: scale(3.88, 3.8) translate(5.42em, 3.72em);
  -ms-transform: scale(3.88, 3.8) translate(5.42em, 3.72em);
  -o-transform: scale(3.88, 3.8) translate(5.42em, 3.72em);
  transform: scale(3.88, 3.8) translate(5.42em, 3.72em);
}
.ajax {
  letter-spacing: -0.01em;
  font-weight: 700;
  -webkit-transform: scale(2.4, 2.3) rotate(90deg) translate(6em, -5.8em);
  -moz-transform: scale(2.4, 2.3) rotate(90deg) translate(6em, -5.8em);
  -ms-transform: scale(2.4, 2.3) rotate(90deg) translate(6em, -5.8em);
  -o-transform: scale(2.4, 2.3) rotate(90deg) translate(6em, -5.8em);
  transform: scale(2.4, 2.3) rotate(90deg) translate(6em, -5.8em);
}
.lamp {
  letter-spacing: 0.045em;
  font-weight: 700;
  -webkit-transform: scale(2.88, 2.8) translate(0.84em, 5.31em);
  -moz-transform: scale(2.88, 2.8) translate(0.84em, 5.31em);
  -ms-transform: scale(2.88, 2.8) translate(0.84em, 5.31em);
  -o-transform: scale(2.88, 2.8) translate(0.84em, 5.31em);
  transform: scale(2.88, 2.8) translate(0.84em, 5.31em);
}
.seo {
  font-weight: 300;
  letter-spacing: -0.07em;
  -webkit-transform: scale(3.9, 4) translate(5.9em, 0.9em);
  -moz-transform: scale(3.9, 4) translate(5.9em, 0.9em);
  -ms-transform: scale(3.9, 4) translate(5.9em, 0.9em);
  -o-transform: scale(3.9, 4) translate(5.9em, 0.9em);
  transform: scale(3.9, 4) translate(5.9em, 0.9em);
}
.jg {
  color: #ee5d29;
  font-weight: 700;
  letter-spacing: -0.03em;
  -webkit-transform: scale(3) translate(7.75em, 2.4em);
  -moz-transform: scale(3) translate(7.75em, 2.4em);
  -ms-transform: scale(3) translate(7.75em, 2.4em);
  -o-transform: scale(3) translate(7.75em, 2.4em);
  transform: scale(3) translate(7.75em, 2.4em);
}
.sysadmin {
  color: #ee5d29;
  font-weight: 700;
  letter-spacing: -0.03em;
  -webkit-transform: scale(1.5) translate(11.76em, 11.6em);
  -moz-transform: scale(1.5) translate(11.76em, 11.6em);
  -ms-transform: scale(1.5) translate(11.76em, 11.6em);
  -o-transform: scale(1.5) translate(11.76em, 11.6em);
  transform: scale(1.5) translate(11.76em, 11.6em);
}
.objectoriented {
  font-weight: 700;
  letter-spacing: -0.01em;
  -webkit-transform: scale(1.85, 1.9) translate(1.7em, 6.5em);
  -moz-transform: scale(1.85, 1.9) translate(1.7em, 6.5em);
  -ms-transform: scale(1.85, 1.9) translate(1.7em, 6.5em);
  -o-transform: scale(1.85, 1.9) translate(1.7em, 6.5em);
  transform: scale(1.85, 1.9) translate(1.7em, 6.5em);
}
.accessibility {
  letter-spacing: -0.05em;
  font-weight: 300;
  -webkit-transform: scale(1.4, 1.33) rotate(90deg) translate(4.1em, -18em);
  -moz-transform: scale(1.4, 1.33) rotate(90deg) translate(4.1em, -18em);
  -ms-transform: scale(1.4, 1.33) rotate(90deg) translate(4.1em, -18em);
  -o-transform: scale(1.4, 1.33) rotate(90deg) translate(4.1em, -18em);
  transform: scale(1.4, 1.33) rotate(90deg) translate(4.1em, -18em);
}
.responsive {
  font-weight: 300;
  letter-spacing: -0.03em;
  word-spacing: 0.3em;
  -webkit-transform: scale(2) translate(1.9em, 5.05em);
  -moz-transform: scale(2) translate(1.9em, 5.05em);
  -ms-transform: scale(2) translate(1.9em, 5.05em);
  -o-transform: scale(2) translate(1.9em, 5.05em);
  transform: scale(2) translate(1.9em, 5.05em);
}
.usability {
  font-weight: 400;
  letter-spacing: -0.04em;
  -webkit-transform: scale(2.85, 3) translate(7.14em, 3.55em);
  -moz-transform: scale(2.85, 3) translate(7.14em, 3.55em);
  -ms-transform: scale(2.85, 3) translate(7.14em, 3.55em);
  -o-transform: scale(2.85, 3) translate(7.14em, 3.55em);
  transform: scale(2.85, 3) translate(7.14em, 3.55em);
}
.webstandards {
  font-weight: 300;
  letter-spacing: 0em;
  word-spacing: 0.1em;
  -webkit-transform: scale(2) translate(12.9em, 8.7em);
  -moz-transform: scale(2) translate(12.9em, 8.7em);
  -ms-transform: scale(2) translate(12.9em, 8.7em);
  -o-transform: scale(2) translate(12.9em, 8.7em);
  transform: scale(2) translate(12.9em, 8.7em);
}
.crossbrowser {
  font-weight: 700;
  letter-spacing: 0.1em;
  word-spacing: 0.2em;
  -webkit-transform: scale(2) translate(2.14em, 8.65em);
  -moz-transform: scale(2) translate(2.14em, 8.65em);
  -ms-transform: scale(2) translate(2.14em, 8.65em);
  -o-transform: scale(2) translate(2.14em, 8.65em);
  transform: scale(2) translate(2.14em, 8.65em);
}
.revisionctrl {
  font-weight: 300;
  letter-spacing: -0.01em;
  -webkit-transform: scale(0.9, 2) translate(7.5em, 7.45em);
  -moz-transform: scale(0.9, 2) translate(7.5em, 7.45em);
  -ms-transform: scale(0.9, 2) translate(7.5em, 7.45em);
  -o-transform: scale(0.9, 2) translate(7.5em, 7.45em);
  transform: scale(0.9, 2) translate(7.5em, 7.45em);
}

@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400');

.boy{ 
  display: flex;
  width: 100vw;
  height: 20vh;
  align-items: center;
  justify-content: center;
  margin: 0;
  color: rgb(0, 0, 0);
  font-size: 90px;
  font-family: 'Fira Mono', monospace;
  letter-spacing: -7px;
}

.di{
  animation: glitch 1s linear infinite;
}

@keyframes glitch{
  2%,64%{
    transform: translate(2px,0) skew(0deg);
  }
  4%,60%{
    transform: translate(-2px,0) skew(0deg);
  }
  62%{
    transform: translate(0,0) skew(5deg); 
  }
}

@keyframes glitchTop{
  2%,64%{
    transform: translate(2px,-2px);
  }
  4%,60%{
    transform: translate(-2px,2px);
  }
  62%{
    transform: translate(13px,-1px) skew(-13deg); 
  }
}

